---
layout: default
title: "Toto's Soundlab - Music and Sound Design by Tommi Toivonen"
description: Tommi Toivonen
---

<div style="width: 100%"
    data-vide-bg="{{ site.url }}/assets/vid/portfolio_header_lb.mp4" data-vide-options="loop: true, muted: true, position: 0% 50%">
    <img src="{{ site.url }}/assets/img/toto-logo.png" width="50%" class="padding-20">
</div>

<div class="padding-20 imgBack vertCenter grow" style='background-image: url({{ site.url }}/assets/img/tools-1.jpg)'>
  <div style="max-width: 70%; min-width: 300px;">
      <h1 style='padding-top: 10px'>Welcome To The Lab!</h1>
      <p style='padding-top: 5px' class='text'>I’m Tommi Toivonen, a Helsinki-based musician, sound designer, creative technologist with years of sound design and music composing experience for short films, games and art installations. I currently work at <a href="http://www.vildmusic.com">VILD Music</a> as a sound designer and composer.</p>

      <p class='text'>I love to experiment with new interfaces for music composition, sound design and performance control. I play my own <a href="https://www.youtube.com/watch?v=yKZ-j8Bn5jM&t=2s">UFO</a> and have two bands: <a href="http://www.wearephantom.com/">Phantom</a> and <a href="http://www.kitkaliitto.com/">Kitkaliitto</a>.</p>

      <div class="resp-container">
        <iframe class="resp-iframe" width="560" height="315" src="https://www.youtube.com/embed/_5p9PXqLgSc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      </div>
  </div>
</div>

<div class='divider2 grow'><span><h1 style="text-align: center">Recent Projects</h1></span></div>

{% for post in site.categories.selected limit:1 %}
<div class="xs-12 imgBack link textCenter vertCenter grow tall" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ post.thumbnail }})'>
  <div class="rcorners">
    <a class='post-title' href='{{ post.url }}'>{{ post.title }}</a>
    <p class='meta' style="margin-bottom:0px">{{ post.topic }} / {{ post.year }}</p>
    <p style="font-size:12px; margin-top:4px">{{ post.client }}</p>
  </div>
</div>  
{% endfor %}

<div class='flexbox wrap'>
{% for post in site.categories.selected limit:3 offset:1 %}
  <div class="sm-6 imgBack link vertCenter textCenter grow short" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ post.thumbnail }})'>
    <div class="rcorners">
        <a class='post-title' href='{{ post.url }}'>{{ post.title }}</a>
      <p class='meta' style="margin-bottom:0px">{{ post.topic }} / {{ post.year }}</p>
      <p style="font-size:12px; margin-top:4px">{{ post.client }}</p>
    </div>
  </div>
{% endfor %}
</div>

<div class='flexbox wrap'>
    {% for post in site.categories.selected limit:3 offset:4 %}
      <div class="sm-6 imgBack link vertCenter textCenter grow short" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ post.thumbnail }})'>
        <div class="rcorners">
            <a class='post-title' href='{{ post.url }}'>{{ post.title }}</a>
          <p class='meta' style="margin-bottom:0px">{{ post.topic }} / {{ post.year }}</p>
          <p style="font-size:12px; margin-top:4px">{{ post.client }}</p>
        </div>
      </div>
    {% endfor %}
</div>

<div class='flexbox wrap'>
    {% for post in site.categories.selected limit:3 offset:7 %}
      <div class="sm-4 imgBack link vertCenter textCenter grow" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ post.thumbnail }})'>
        <div class="rcorners">
            <a class='post-title' href='{{ post.url }}'>{{ post.title }}</a>
          <p class='meta' style="margin-bottom:0px">{{ post.topic }} / {{ post.year }}</p>
          <p style="font-size:12px; margin-top:4px">{{ post.client }}</p>
        </div>
      </div>
    {% endfor %}
</div>

<div class='flexbox wrap'>
    {% for post in site.categories.selected limit:6 offset:10 %}
      <div class="sm-4 imgBack link vertCenter textCenter grow" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ post.thumbnail }})'>
        <div class="rcorners">
            <a class='post-title' href='{{ post.url }}'>{{ post.title }}</a>
          <p class='meta' style="margin-bottom:0px">{{ post.topic }} / {{ post.year }}</p>
          <p style="font-size:12px; margin-top:4px">{{ post.client }}</p>
        </div>
      </div>
    {% endfor %}
</div>

<div class='divider2 grow'>&nbsp;</div>

<div class="padding-20 imgBack vertCenter grow" style='background-color: #000000'>
  <div style="max-width: 70%; min-width: 300px;">
      <h1 style='padding-top: 10px'>Enquiries</h1>

      <p style='padding-top: 5px' class='text'>You can contact me by sending email to tkoskin (at) gmail.com</p>
      </div>
  </div>
</div>

<div class='divider xs-12 grow'></div>

