<footer class="xs-12"><div id="footer"><p><strong class="big">{{site.title}}</strong><br>
<a href="{{ site.url }}/index.html">Home</a> | <a href="{{ site.url }}/about.html">About</a> | <a href="{{ site.url }}/categories/music.html">Music</a> | <a href="{{ site.url }}/categories/video.html">Video</a> | <a href="{{ site.url }}/categories/gameaudio.html">Game Audio</a> | <a href="{{ site.url }}/categories/installations.html">Art Projects</a> | <a href="{{ site.url }}/categories/hardware.html">Hardware</a>
<br><br>
Copyright © 2020 Toto's Soundlab